body{
	background-color: dodgerblue;
	text-align: center;
	font-family: 'Gugi', cursive;
	color: white;
}

p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
}


#madButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Gugi', cursive;
	font-size: 30px;
	color: dodgerblue;
	margin-bottom: 75px;
}

#findMadLib {
	
}

.c {
	color: purple;
	font-size: 20px;
	background-color: yellow;
}